body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: #fff;
}

li {
  list-style: none;
}

/* HEADER */

.logo-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-title-web {
  color: #2196f3;
}

.logo-title-studio {
  color: #fff;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;

  text-decoration: none;
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #757575;

  text-decoration: none;
}

/* BANNER */

.banner {
  background: #2f303a;
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;
}

.banner-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;

  color: #333;
}

.banner-button-text {
  text-decoration: none;
  color: #fff;
}

/* WHAT DO YOU */

.what-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: #212121;
}

.what-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  color: #757575;
}

.what-title-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;

  color: #212121;
}

/* TEAM */

.team-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;

  color: #212121;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: #212121;
}

.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  color: #757575;
}

/* PROJECT - ПОРТФОЛИО CSS */

.project-container {
  text-decoration: none;
}

.project-title-logo {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}

.project-suptitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  color: #757575;
}

.button-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: #212121;
}

/* FOOTER */

footer {
  background: #2f303a;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;

  color: #ffffff;

  text-decoration: none;
}
